* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  position: relative;
  top: -30px;
}

.playing-field {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.playing-field button {
  border: 1px solid black;
  opacity: 0.5;
  cursor: pointer;
  width: calc(8vmin);
  height: calc(8vmin);
 }


.cell:hover {
  filter: brightness(100);
}


.title {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px; 
}

.player-info {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.player-info img {
  width: 25px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.home {
  background-color: #1fcca4;
  width: 35px;
  border-radius: 3px 3px 3px 3px;
  padding: 7px;
  margin-bottom: 5px;
}

.restart {
  background-color: #0197f6;
  width: 35px;
  border-radius: 3px 3px 3px 3px;
  padding: 7px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.icons {
  display: flex;
}

.home:hover {
  background-color: #1cbb96;
}

.restart:hover {
  background-color: #0090e9;
}

.black-circle, .black-cross {
  background-image: url('blackcircle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vmin;
}

.black-cross {
  background-image: url('blackcross.svg');
}

#currentPlayerInfo {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}

.player-circle {
  background-image: url('circle.svg');
}

.player-cross {
  background-image: url('cross.svg');
}
